.post-div {
  font-family: "Roboto", sans-serif;
  color: #000;

  a {
    text-decoration: none;
    color: #3a2d2d;
  }

  .post-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .post-body {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .post-delete-button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;

    &:hover {
      background-color: #d32f2f;
    }
  }
}
